page-forgot-password {
	ion-content{
		div.scroll-content{
			background-color:rgb(240,240,240);	
			vertical-align: middle;
		}
	}
	div.space-40{
		display: block;
		clear: both;
		width: 100%;
		height: 40px;
		text-align: center;
		position:relative;
		a{
			text-decoration: none;
			font-size: 15px;
			color:rgb(113,27,125);
			text-transform: uppercase;
			width:auto;
			height: auto;
			display: inline-table;
			margin:auto;
			margin-top: 11.5px;
		}
	}

	section.main{
		position: relative;
		display: table;
		padding-top: 80px;
		button[ion-button].xbtn{
			position:absolute;
			top: 18px;
			right: 18px;
			height:20px;
			width: 20px;
			display: table;
			padding:0;
			margin: 0;
			background-image:url('../assets/images/xbtn.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-color: transparent;
			box-shadow:none;
		}

		p{
			width: 100%;
			margin: 0;
			text-align: center;
			line-height: 17px;
			font-family: 'HelveticaNeue-Light';
			&.form-title{
				margin-bottom: 18px;
				text-transform: uppercase;
				font-size: 25px;
				color:rgb(189,8,148);
			}
			&.form-desc{
				color:rgb(240,119,33);
				font-size: 14px;
				margin-bottom: 14px;
				padding: 0 12vw;
			}
		}

		a#delete{
			font-size: 15px;
			line-height: 17px;
			color:rgb(113,27,125);
			font-family: 'HelveticaNeue-Light';
			width: 100%;
			display: inline-block;
			text-align: center;
			margin-top: 16px;
		}

		form{
			text-align: center;
			ion-row{
				padding:0 60px;
				display: inline-block;
				width: 100%;
				margin-bottom: 41px;
				margin-top: 26px;

				ion-input{
					font-family: 'HelveticaNeue-Light';
					height: 40px;
					background-color:#fff;
					display: inline-block;
					clear: both;
					border-radius: 10px;
					input{
						margin-left: 19px;
						font-size: 14px;
						color:rgb(240,115,172);
						line-height: 17px;
						//&.error{
						//}
					}

					&:after{
						content:"";
						display: table;
						clear: both;
						width: 100%;
						font-family: 'HelveticaNeue-Bold';
						font-size: 9px;
						text-transform: uppercase;
						margin-top: 6px;
						text-indent: 10px;
						color: rgb(240,119,33);
						text-align: left;
						position: relative;
					}
					&[type=email]{
						&.error{
							&:after{
								content:"We don't have that email registered. Please sign up.";
							}
						}
						&.mailed{
							&:after{
								content:"Email sent";
							}
						}
					}
					&.focused{
						box-shadow:1px 1px 0px 1px rgb(240,119,33);
						/*&[type=password]{
							&:after{
								content:"Please enter a password of 8+ characters";
								display: block;
								clear: both;
								width: 100%;
								font-family: 'HelveticaNeue-Bold';
								font-size: 9px;
								text-transform: uppercase;
								margin-top: 6px;
								text-indent: 10px;
								color: rgb(240,119,33);
								text-align: left;
							}
						}*/
					}

				}

			}// end of ion-row
		}// end of form


		button[ion-button]{
			height: 55px;
			width: calc(100vw - 100px);
			display: block;
			clear: both;
			margin: auto;
			color:#fff;
			text-align: center;
			text-transform: uppercase;
			background-size:contain;
			background-repeat:no-repeat;
			background-position:center;
			background-color:transparent;
			box-shadow:none;
			font-family: 'HelveticaNeue-Light';
			border:0;
			&#reset{
				background-image:url('../assets/images/signup_btn.png');
			}

			&#signup_btn{
				color:rgb(113,27,125);
				background-image:url('../assets/images/transparent_btn.png');
				margin-bottom: 11px;
			}
		}


	}// end of section.main

	footer{
		position: absolute;
		bottom:0;
		left: 0;
	}
}
