<!--ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header-->

<!-- No headers. We'll create
  a component for this instead -->

<notice [title]="'Cookie Notice'" [class]="'black'" *ngIf="!noticeViewed">

  This site uses cookies as described in our <a>Cookie Policy</a>. Please continue to use our website if you agree to our use of cookies.
</notice>
<ion-content id="homeMobile" *ngIf="mobileVersion">
  <!--button ion-button secondary menuToggle>Toggle Menu</button-->
  <section id="client-logo" [ngClass] = "{ 'hidden':scanFailed,'client-logo':true }">
    <!--<span id="neutrogena-logo" class="placeholder" #neuLogo>
    </span>-->
    <ion-img src="../assets/images/logo_neutrogena.png" id="neutrogena-logo" #neuLogo></ion-img>
    <p>in partnership with </p>
    <!--<span id="aura-logo" class="placeholder" #auraLogo>
    </span>-->
    <ion-img src="../assets/images/logo_aura.png" id="aura-logo" #auraLogo></ion-img>
  </section>
  <section class="scan_failed" *ngIf="scanFailed">
    <h2>It looks like that didn't work</h2>
    <h3>Please try again to enter site</h3>
  </section>

  <section id="guide-scan-container" class="">

    <span class="guide-images">

      <div id="qr-image" class="placeholder">
        <img src="../assets/images/qrcode.png"/>
      </div>

      <div id="logo-image" class="placeholder">
        <img src="../assets/images/activator.png"/>
      </div>

    </span>

    <span class="guide-text-instructions">
      <p>Scan the QR code</p>
      <p><b>OR</b></p>
      <p>Scan the Neutrogena&reg; logo on your</p>
      <p>Neutrogena&reg; Visibly Clear&reg; Light Therapy</p>
      <p>Acne Mask Activator</p>
    </span>

  </section>

  <section id="scan-button-container" #scanContainer>

    <button ion-button id="scan-button" #scanButton (tap)="scan()">

    </button>

  </section>


  <footer></footer>

</ion-content>



<ion-content id="homeDesktop" padding *ngIf="!mobileVersion">

  <section id="client-logo" class="client-logo">

    <ion-img src="../assets/images/logo_neutrogena.png" id="neutrogena-logo" #neuLogo></ion-img>
    <span></span>
    <ion-img src="../assets/images/logo_aura_blue@3x.png" id="aura-logo" #auraLogo></ion-img>
  </section>

  <section  id="client-content" class="client-content">
      <h3 padding>This site is best viewed on mobile.</h3>

      <ion-img src="../assets/images/activator_desktop.jpg"> </ion-img>
      <p padding>To access on desktop, upload a photo of the Neutrogena&copy; logo on your
Visibly Clear&copy; Light Therapy Acne Mask Activator</p>


  </section>




  <footer></footer>

</ion-content>
