#aura-widget-div * {
  box-sizing: border-box;
}

#aura-widget-div {
  height: 400px;
  width: 100%;
  margin: 0px auto;
}

.audio-con {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

audio::-webkit-media-controls-volume-slider {
  display:none;
}

audio::-webkit-media-controls-mute-button {
  display:none;
}
.audio-con .logo {
  height: 60px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.audio-con .logo a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #fff;
}

.audio-con .logo a:first-child {
  border-left: none;
  margin-left: 0px;
  padding-left: 0px;
}

.audio-con .logo img {
  max-height: 60px;
  max-width: 90px;
}

.audio-main {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.audio-main > * {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.audio-main .time {
  display: block;
  padding-top: 10px;
  font-weight: 300;
  font-size: 12px;
}

.audio-con > .inner {
  position: relative;
  z-index: 4;
  height: 100%;
  width: 100%;
  color: #fff;
}

.audio-con > .inner h5 {
  margin: 0px;
}

.audio-main .audio {
  border: 2px solid #3b8fbb;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: relative;
  line-height: 50px;
  padding-left: 5px;
  margin-right: 30%;
  margin-left: 30%;
}

.audio-main .audio audio {
  display: none;
}

.audio-main .audio .fa-play {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-38%, -50%);
}

.audio-main .audio .fa-pause {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-38%, -50%);
}

.audio-con .text-div {
  text-align: center;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
}

.audio-con .text-div h5 {
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 15px;
}

.audio-con .overlay {
  position: absolute;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  z-index: 2;
}
