<!-- Generated template for the CalendarComponent component -->
<div>
  <b class="lbl">{{moStr}} {{yr}} <button ion-button class="left" (tap)="prevMonth()"><img src="../assets/images/pink-arr-left.png"/><!--ion-icon name="arrow-back"></ion-icon--></button><button ion-button class="ryt" (tap)="nextMonth()"><img src="../assets/images/pink-arr-right.png"/><!--ion-icon name="arrow-forward"></ion-icon--></button> <button ion-button class="today" (tap)="goToday()">Today</button></b>
  <span class="weekdays">
  	<div>S</div>
  	<div>M</div>
  	<div>T</div>
  	<div>W</div>
  	<div>T</div>
  	<div>F</div>
  	<div>S</div>
  </span>
  <span class="daysOfOurLives">
  	<div *ngFor="let dd of dayArr" [ngClass]="{'selfie':selfieData?.indexOf(dd) >= 0}">{{dd}}</div>
  </span>
</div>
