// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content{
	margin-top: 0 !important;
}

.vertical-center {
	align-content: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
ion-menu{
	
	div.menu-inner{
		button[ion-button]{
			background-color: transparent;
			float: right;
			color:rgba(0,0,0,0.6);
			font-family: HelveticaNeue-Light;
			box-shadow: none;
			border:0;
			font-size: 21px;
			padding:0;
			margin: 21px 21px 0 0;
			height: auto;
		}
	}

}

	.hidden{
		display: none !important;
		opacity: 0 !important;
		z-index: -1 !important;
	}
