<!-- Generated template for the SubCourseComponent component -->
<div class="container">
	<span class="image-container" [ngStyle]="{'background-image':'url('+bgImg+')'}">
		<p class="title">{{title}}</p>
		<p class="duration">(Duration) {{duration}} days</p>
		<p class="sign-in" *ngIf="!loggedIn()">Sign in to track progress</p>
		<span class="progress" *ngIf="loggedIn()">
			<div class="main-bar">
				<div class="progress-bar" #prog></div>
			</div>
			<p class="completion">{{getProg()}}% Complete</p>
		</span>
	</span>
	<button ion-button class="begin" (tap)="begin($event)" [disabled]="!loggedIn() || !enabled">{{getProg()==0?"Begin":"Continue"}}</button>
</div>
