<!-- Generated template for the SubCourseComponent component -->
<div class="container" #courseElem>
	<span class="image-container" [ngStyle]="{'background-image':'url('+bgImg+')'}">
		<p class="title">{{title}}</p>
		<p class="duration">{{duration}} days</p>
		<p class="sign-in" *ngIf="!loggedIn()" (tap)="toSignUp()">Sign in to track progress</p>
		<span class="progress" *ngIf="loggedIn()" [ngClass]="{'no-prog':(getProg() == 0)}">
			<div class="main-bar">
				<div class="progress-bar" #prog [ngStyle]="{'width': getProgPct()}"></div>
			</div>
			<p class="completion">{{getProg()}}% Complete</p>
		</span>
	</span>
	<!--<button ion-button class="begin" (tap)="begin(crs)" [disabled]="!loggedIn() || !enabled">{{getProgLabel()}}</button>-->
	<button ion-button class="begin" (tap)="begin(crs)">{{getProgLabel()}}</button>
</div>
