<div class="body">
  <ion-row>
  	<ion-col col-4>
  		<div class="home" (tap)="toHome()">
  			<img src="../assets/images/pink_house.png"/>
  			<p>Home</p>
  		</div>
  	</ion-col>
    <ion-col col-4>
      <div class="reorder">
        <a (tap)="toSkinTracker()" [title]="neutrogena_reorder_url.name">
          <img src="../assets/images/chart-your-glow-icon.svg"/>
        </a>
        <p>Skin Tracker</p>
      </div>
    </ion-col>
  	<ion-col col-4>
  		<div class="reorder">
  			<a (tap)="logAction()" [href]="neutrogena_reorder_url.link" [title]="neutrogena_reorder_url.name" [target]="" target="neutrogena_reorder_url.target">
          <img src="../assets/images/reorder.png"/>
  			</a>
  			<p>Re-Order</p>
  		</div>
  	</ion-col>
  </ion-row>
</div>
