aura-foot {
	display:inline-block;
	position:fixed;
	bottom:0;
	left:0;
	height: 50px;
	width: 100%;
	div.body{
		background-color:rgb(240,240,240);
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
		position:relative;
		height: 100%;
		width: 100%;

		ion-row{
			padding:0;
			ion-col{
				text-align: center;
				position:relative;
				height:50px;
				padding:0;
				vertical-align: middle;
				div{
					display: inline-table;
					position:relative;
					img{
						display:block;
						clear: both;
						max-height: 26px;
						margin-top:7px;
					}
					p{
						margin:0;
						color:rgb(128,129,132);
						font-size: 9px;
						line-height: 17px;
						text-align: center;
					}
					p:nth-child(2) {
						margin-left: -5px;
					}
				}

			}

		}
	}
}