page-age-gate {
	ion-content{
		div.scroll-content{
			background-color:rgb(240,240,240);
		}
	}
	div.space-40{
		display: block;
		clear: both;
		width: 100%;
		height: 40px;
		text-align: center;
		position:relative;
		a{
			text-decoration: none;
			font-size: 15px;
			color:rgb(113,27,125);
			text-transform: uppercase;
			width:auto;
			height: auto;
			display: inline-table;
			margin:auto;
			margin-top: 11.5px;
		}
	}

	section.main{
		position: relative;
		padding-top: 81px;
    *{
      color:rgba(114,28,125,1);
    }
		button[ion-button].xbtn{
			position:absolute;
			top: 18px;
			right: 18px;
			height:20px;
			width: 20px;
			display: table;
			padding:0;
			margin: 0;
			background-image:url('../assets/images/xbtn.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-color: transparent;
			box-shadow:none;
		}
    ion-img{
      background-color:transparent;
      contain:inherit;
      height:auto;
      width:100%;

      img{
        max-height:100%;
        height:50px;
        margin:0 auto;
      }
    }
		p{
			width: 100%;
			margin: 0;
			text-align: center;
			line-height: 17px;
			font-family: 'HelveticaNeue-Light';
			&.text{

			}

		}

		a.linker{
			font-size: 14px;
			line-height: 17px;
			color:rgb(240,119,33);
			font-family: 'HelveticaNeue-Light';
			text-decoration: underline;
		}


		form{
			text-align: center;
			ion-row{
				padding:0 45px;
				display: inline-block;
				width: 100%;
				margin-bottom: 7px;

				&.extra-bottom{
					margin-bottom:27px;
				}
				&.extra-top{
					margin-top:43px;
					margin-bottom: 28px;
					text-align: left;
				}

				ion-input{
					font-family: 'HelveticaNeue-Light';
					height: 46px;
					background-color:#fff;
					display: inline-block;
					clear: both;
					border-radius: 10px;
					input{
						margin-left: 19px;
						font-size: 14px;
						color:rgb(240,115,172);
						line-height: 17px;
						//&.error{
						//}
					}
							&[type=email].error{

								&:after{
									content:"Email incorrect";
									display: block;
									clear: both;
									width: 100%;
									font-family: 'HelveticaNeue-Bold';
									font-size: 9px;
									text-transform: uppercase;
									margin-top: 6px;
									text-indent: 10px;
									color: rgb(240,119,33);
									text-align: left;
									position: relative;
								}
							}
					&.focused{
						box-shadow:1px 1px 0px 1px rgb(240,119,33);
						/*&[type=password]{
							&:after{
								content:"Please enter a password of 8+ characters";
								display: block;
								clear: both;
								width: 100%;
								font-family: 'HelveticaNeue-Bold';
								font-size: 9px;
								text-transform: uppercase;
								margin-top: 6px;
								text-indent: 10px;
								color: rgb(240,119,33);
								text-align: left;
							}
						}*/
					}

				}

			}// end of ion-row

			button[ion-button]{
				height: 50px;
				width: calc(100% - 100px);
				display: inline-table;
				clear: both;
				margin: auto;
				color:#fff;
				text-align: center;
				background-size:contain;
				background-repeat:no-repeat;
				background-position:center;
				background-color:transparent;
				box-shadow:none;
				font-family: 'HelveticaNeue-Light';
				border:0;
				&#login{
					background-image:url('../assets/images/signup_btn.png');
				}

				&#loginFB{
					background-image:url('../assets/images/fbSignup_btn.png');
					margin-bottom: 11px;
				}
			}

		}// end of form

	}// end of section.main
}
