<notice [title]="'Cookie Notice'" [class]="'black'" *ngIf="!noticeViewed">

  This site uses cookies as described in our <a>Cookie Policy</a>. Please continue to use our website if you agree to our use of cookies.
</notice>
<ion-header>
        <ion-navbar>
            <ion-buttons end>
              <button ion-button class="xbtn" (tap)="dismissThis()"></button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>

<ion-content class="has-header">

<section padding class="main" >

  <ion-img src="../assets/images/logo_neutrogena.png"></ion-img>
<div *ngIf="!invalidAge">
	<p class="content">Please enter your date of birth:</p>


		<ion-row>

<input type="text" maxlength="2" placeholder="MM" [(ngModel)]="selectedDate.month" [readonly]='true'/>
<input type="text" maxlength="2" placeholder="DD" [(ngModel)]="selectedDate.day" [readonly]='true'/>
<input type="text" maxlength="4" placeholder="YYYY" [(ngModel)]="selectedDate.year" [readonly]='true'/>

<ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="inputDate" (ionChange)="changedDate()"></ion-datetime>
			</ion-row>
<p class="content small width-70">By submitting your data, you are accepting our Privacy Policy and Cookie Policy.</p>
	<ion-row>
    <ion-item >
    <ion-label>
Please remember me on this site.</ion-label>
    <ion-checkbox [(ngModel)]="cookiesOn"></ion-checkbox>
  </ion-item>
  </ion-row>
  <button ion-button (click)="submitAge()">Enter</button>
</div>
<div class='invalid-age-container' *ngIf="invalidAge">
  <h3>Unfortunately,</h3>
  <p class="content">only users </p>
<p class="content color-orange">18 YEARS OR OLDER </p>
<p class="content">can enter this site.</p>
</div>
</section>

<footer></footer>
</ion-content>
