<aura-head></aura-head>
<reorder-modal #reorder></reorder-modal>
<ion-content >

	<section class="track-preview {{courseTitle}}">
		<a class="progress-days">
			Day {{app?.nextLesson(courseTitle)}} of {{app?.getCourseDuration(courseTitle)}}
			<!--Day {{day < app?.activeDur ? (day+addLesson):day}} of {{app?.activeDur}}-->
		</a>
		<p class="section-title">
			{{courseTitle}}
		</p>

		<!--div class="day-tracker container" (scroll)="evtScroll($event)"-->
		<ion-slides slidesPerView="auto" spaceBetween="27" zoom="false" #btns class="btns">
			<ion-slide *ngFor="let dy of arrDay">
				<div [ngClass]="{'play': true, 'end': !app?.hasNextLesson(courseTitle) && (dy?.day >= arrDay.length)}">
					<ion-col [ngClass]="{'rng': true}" (tap)="intoTheContent(!dy?.status,dy?.day)">
						Day {{dy?.day}}
						<img src="../assets/images/tick.png"/>
					</ion-col>
				</div>
			</ion-slide>
			<ion-slide *ngIf="app?.nextLesson(courseTitle) <= app?.courseDuration(courseTitle) && app?.lastLesson(courseTitle) < app?.nextLesson(courseTitle)">
				<div class="play">
					<ion-col [ngClass]="{'rng': dy?.status}" (tap)="intoTheContent(true, app?.nextLesson(courseTitle))">
						<ion-icon name="{{getDayBtnIcon()}}"></ion-icon>
						Day {{app?.nextLesson(courseTitle)}}
					</ion-col>
				</div>
			</ion-slide>
			<ion-slide>
				&nbsp;
			</ion-slide>
			<ion-slide>
				&nbsp;
			</ion-slide>
		</ion-slides>
		<!--/div-->
		<p class="label-intro" (tap)="toSignUp()">
      {{labelIntro}}
    </p>

		<div class="expandable">
			<a class="desc-trigger" (tap)="expand()">Description <ion-icon name="ios-arrow-{{def}}"></ion-icon></a>
			<!--<p class="content" [ngClass]="{'show':expanded}" *ngIf="app?.hasActiveCourse()">-->
			<p class="content" [ngClass]="{'show':expanded}" *ngIf="app?.hasActiveCourse() || courseTitle">
				{{app?.getLessonData(courseTitle, app?.nextLesson(courseTitle))?.desc?.trunc(300)}}
			</p>
      <br>
      <div>
        <a class="link" [href]="aura_url.link" [title]="aura_url.name" [target]="aura_url.target">About AURA</a>
      </div>
		</div>


	</section>
	<p class="more-courses">Additional Courses</p>

	<section class="sliders">
		<ion-slides slidesPerView="auto" spaceBetween="20" zoom="false" (ionSlideDidChange)="sliderChanged($event)">
			<ion-slide *ngFor = "let crs of progressKeys; let i=index">
				<sub-course [title]="crs" [hero]="courseTitle" [progress]="progressArr[crs]" [enabled]="true" (begin)="tryMe($event)" [activeCourse]="app.getCourseData(crs)"></sub-course>
			</ion-slide>
			<!--ion-slide>
				<sub-course [title]="'Mindfulness'" [progress]="0" [enabled]="false" (begin)="tryMe($event)"></sub-course>
			</ion-slide>
			<ion-slide>
				<sub-course [title]="'Focus'" [progress]="0" [enabled]="false" (begin)="tryMe($event)"></sub-course>
			</ion-slide-->

		</ion-slides>
	</section>

    <footer></footer>
</ion-content>

<aura-foot [reorder]="reorder"></aura-foot>
