<!-- Generated template for the NoticeComponent component -->
<section class="body" [ngStyle]="style">
	<button ion-button id="btnClose" ><ion-icon (click)="destroy()" name="close"></ion-icon></button>
	<span class="title" *ngIf="noLink">
		{{title}}
	</span>
  <span class="title" *ngIf="!noLink" (tap)="goToPage(ext_url)">
    <a class="title" [href]="ext_url?.link" [target]="ext_url?.target" [title]="ext_url?.name">
		{{title}}
    </a>
	</span>
	<div class="body">
		<ng-content>

		</ng-content>
	</div>
</section>
