<aura-head></aura-head>
<progress-modal [day]="photoCount" [skin]="true" [length]="30" [show]="false"></progress-modal>
<ion-content>


	<section class="track-preview">
		<a class="progress-days">
			Day {{photoCount + 1}} of 30
			<!--Day {{day < app?.activeDur ? (day+addLesson):day}} of {{app?.activeDur}}-->
		</a>
		<p class="section-title">
			Chart Your Glow
		</p>

		<a class="launch-preview" (click)="openModal()">Preview Video Example</a>
		<!--div class="day-tracker container" (scroll)="evtScroll($event)"-->
		<button ion-button class="vid" (tap)="toSignup()" *ngIf="!isLogged()">Sign In</button>
		<button ion-button class="vid" *ngIf="isLogged()"><input type="file" accept="image/*" (change)="imt?.takePic($event)" capture="camera" [disabled]="!imt?.canAddTodaysPhoto" (tap)="imt?.takePhotoAction($event)"/>Take Photo</button>
		<!--/div-->

		<div class="expandable">
			<a class="desc-trigger" (tap)="expand()">About Chart Your Glow <ion-icon name="ios-arrow-{{def}}"></ion-icon></a>
			<!--<p class="content" [ngClass]="{'show':expanded}" *ngIf="app?.hasActiveCourse()">-->
			<p class="content" [ngClass]="{'show':expanded}">
				Check on your daily glow with Chart Your Glow. Take a photo each time you use your Neutrogena&reg; Visibly Clear&reg; Light Therapy Acne Mask and we'll do the rest. Get glowing.
			</p>
      <br>
		</div>


	</section>
	<image-tracker (uploaded)="updateCalendar($event)"></image-tracker>
	<video-preview [ngClass]="{'hidden':photoCount <= 1}"></video-preview>
	<calendar></calendar>

	<footer></footer>
</ion-content>
<aura-foot></aura-foot>
