<!-- Generated template for the VideoPreviewComponent component -->
<div>
  <div class="expandable" (tap)="toggleView()"[ngClass]="{'hidden-depths':!expanded}">
  	<img [src]="assets?.arr" [ngClass]="{'invert':expanded}"/>
  	<a class="text">Preview Video</a>
  	<img [src]="assets?.arr" [ngClass]="{'invert':expanded}"/>
  </div>
  <div id="expand-this" [ngClass]="{'hidden-depths':!expanded}">

	  <!--video width="auto" controls>
	    <source [src]="assets?.vid" type="video/mp4">

	    Your browser does not support HTML5 video.
	  </video-->
    <!--iframe id="aura-widget-div" [src]="assets?.link" (load)="isframeLoaded()"></iframe-->
    <div class="idm-player" #plyr></div>
  	<a href="{{assets?.vid}}" download id="idomoo_download_link"><button ion-button>Download to Camera Roll</button></a>
  </div>
</div>
